@model proyectoWeb_GYM.Models.Membresia

@{
    ViewData["Title"] = "Eliminar Membresia";
}


<h3 class="text-center">Estas seguro de eliminar esta membresia?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_membresia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_membresia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendidas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_membresia" />
        <input type="submit" value="Eliminar" class="btn btn-danger mt-2" /> |
        <a class="btn btn-primary mt-2" asp-action="Index">Regresar a la lista</a>
    </form>
</div>
